**Strings and files**

In [1]:
string_1 = "Will you be at the meeting tonight?"

string_2 = '"yes", he replies.'

In [2]:
print(string_1)

Will you be at the meeting tonight?

In [3]:
print(string_2)

"yes", he replies.

### Indexing

In [4]:
string_1[0]  # The indexing (of a character in a given string) starts at 0.

'W'

In [5]:
string_1[2]

'l'

In [6]:
print(string_1)
print("The second character of my string is", string_1[1])

Will you be at the meeting tonight?
The second character of my string is i

### Slicing
```python
string[start:stop:step]
```

In [7]:
print(string_1)
string_1[2:8:2] # Le compte de characteres commence a l'indixe 2, le pas c'est 2 et on s'arrete au charactere indixe par 8-1=7

Will you be at the meeting tonight?

'l o'

In [8]:
string_3 = 'Tobigoestoschooleveryday.'
string_3[2:8:2]

'bge'

In [9]:
string_3 = 'Tobigoestoschooleveryday.'
string_3[2:6:2]

'bg'

In [10]:
string_3 = 'Tobigoestoschooleveryday.'
string_3[2::2]

'bgetshoeeya.'

In [11]:
string_3 = 'Tobigoestoschooleveryday.'
string_3[::]

'Tobigoestoschooleveryday.'

In [12]:
string_3 = 'Tobigoestoschooleveryday.'
string_3[:]

'Tobigoestoschooleveryday.'

In [13]:
string_3 = 'Tobigoestoschooleveryday.'
string_3[]  # It will generate a mistake.

SyntaxError: invalid syntax (72560281.py, line 2)

In [14]:
string_3 = 'Tobigoes.'
string_3[:8] # To take elements for indixes 0 until 7 and the element for index 8 is excluded.

'Tobigoes'

In [15]:
string_3 = 'Tobigoes.'
string_3[:9] # To take elements for indixes 0 until 8 and the element for index 9 is excluded.

'Tobigoes.'

In [16]:
string_3 = 'Tobigoes.'
string_3[:]  # To print all the variable.

'Tobigoes.'

In [17]:
string_3 = 'Tobigoestoschooleveryday.'
string_3[::1]  # It generates all the sting (the sentence).

'Tobigoestoschooleveryday.'

In [18]:
string_3 = 'Tobigoestoschooleveryday.'
string_3[:2] # To take elements for indixes 0 and 1 and the element for index 2 is excluded.

'To'

In [19]:
string_3 = 'Tobigoestoschooleveryday.' 
string_3[::2]  # Le pas de compte ici c'est 2, mais on commence quand meme a partir du premier element, i.e., l'element indixe par 0.

'Tbgetshoeeya.'

In [20]:
string_3[3:-1] # In python the index start by -1 from the end to the beginning. And we start by the element indixe by 0.

'igoestoschooleveryday'

In [21]:
len(string_2)

18

### Concatenation

In [22]:
my_var_1 = "Hello,"

my_var_2 = 'world'

concat = my_var_1 + my_var_2

concat1 = my_var_2 + my_var_1

print(concat)
print(concat1)

Hello,world
worldHello,

In [23]:
print(my_var_2)

world

In [24]:
print(2*my_var_2)

worldworld

In [25]:
print(2.5*my_var_2) # We get error, because we cannot multiply a float with a string or a non-integer. we have the same result with 2. because it is a float.

TypeError: can't multiply sequence by non-int of type 'float'

In [26]:
print(2*my_var_2) # It is possible to multiply strings with integers, the output is the the name of the string many times.

worldworld

In [27]:
2 == 2.0  # True

True

In [28]:
2 == 2. # True

True

In [29]:
?my_var_2.capitalize

Signature: my_var_2.capitalize()
Docstring:
Return a capitalized version of the string.

More specifically, make the first character have upper case and the rest lower
case.
Type:      builtin_function_or_method

## Exercises

In [30]:
str1 = "my country is Cameroon."
str1

'my country is Cameroon.'

In [31]:
str1.capitalize()  # Utilisee pour mettre uniquement la premiere lettre de la phrase en majiscule.

'My country is cameroon.'

In [32]:
str1.title()  # Utilisee pour mettre uniquement la premiere lettre de chaque mot de la phrase en majiscule

'My Country Is Cameroon.'

In [33]:
str1.count("y") # To count the number of "y" inside the variable str1.

2

In [34]:
str1.center(8)

'my country is Cameroon.'

In [36]:
?str1.center

Signature: str1.center(width, fillchar=' ', /)
Docstring:
Return a centered string of length width.

Padding is done using the specified fill character (default is a space).
Type:      builtin_function_or_method

In [37]:
?str1.casefold

Signature: str1.casefold()
Docstring: Return a version of the string suitable for caseless comparisons.
Type:      builtin_function_or_method

In [38]:
str1.casefold

In [39]:
Blondie
AIMS class
Rwanda 2025
this is really tired.

SyntaxError: invalid syntax (2401036103.py, line 2)

In [41]:
!dir # To display all directories.

 Volume in drive C has no label.
 Volume Serial Number is EC48-36FB

 Directory of C:\Users\MEDJO\Downloads\python_course\notebooks_lecture_notes


 Directory of C:\Users\MEDJO\Downloads\python_course\notebooks_lecture_notes


 Directory of C:\Users\MEDJO\Downloads\python_course\notebooks_lecture_notes


 Directory of C:\Users\MEDJO\Downloads\python_course\notebooks_lecture_notes


 Directory of C:\Users\MEDJO\Downloads\python_course\notebooks_lecture_notes

File Not Found

In [42]:
# %load testfile.txt
AIMS class 
 Blondie is student 
 academic class 2025.

In [44]:
?%load testfile.txt  # It used to download a file.

Object `%load testfile.txt` not found.

In [45]:
f = open('testfile.txt', 'r')

In [46]:
type(f)

_io.TextIOWrapper

In [47]:
f.readlines()

['AIMS class \n', ' Blondie is student \n', ' academic class 2025.']

In [48]:
f

In [49]:
f.read()

''

In [50]:
f.close()

In [51]:
f.read

In [52]:
to_write_to_file = open('testfile.txt', 'r')  # To open a file, but it also used to create a file. 
# r is used to read and w is used to write inside the file. Et on peut entrer dans le fichier a chaque fois qu'on le souhaite pour l'editer.

In [53]:
to_write = open('outfile.txt', 'w')
to_write.write("This is Thursday1\n")
to_write.write("This is Thursday2")
to_write.close()

In [54]:
to_write = open('outfile.txt', 'r')
to_write.readlines()

['This is Thursday1\n', 'This is Thursday2']

In [55]:
f = open('testfile.txt', 'w')
f.write('AIMS class \n Blondie is student \n academic class 2025.')
f.close()

In [56]:
g = open('banana.txt', 'w') # A chaque fois qu'on fait une operation dans un fichier il faut d'abord ouvrir le fichier.

In [57]:
g.write('tomate, \n')
g.write('apple, \n')
g.write('orange, \n')
g.write('watermelon.')
g.close()